@mixin fixed-header {
    --header-left-display: none;
    --header-top-transform: translate(0, 0);

    &.show-menu {
        --menu-pointer-events: all;
        --backdrop-pointer-events: all;
        --backdrop-background: rgba(255,255,255,.7);
        --menu-transform: translate(0, 0);
        --menu-opacity: 1;
    }
}

body {
    // --content-color: rgba(255, 255, 255, 1);
    --content-color: #000;
    --header-left-display: flex;
    --header-top-transform: translate(0, -100%);
    --menu-transform: translate(120px, 0);
    --menu-pointer-events: none;
    --menu-max-width: 280px;
    --backdrop-display: block;
    --backdrop-pointer-events: none;
    --backdrop-background: transparent;
    --menu-opacity: 0;

    font-family: 'Prompt', sans-serif;
    margin: 0;
    padding: 0;
    background: #000a32;
    color: var(--content-color);

    @media all and (max-width: 1200px) {
        @include fixed-header;
    }

    @media all and (max-width: 420px) {
        --menu-max-width: 100%;
    }

    &.fixed-header {
        @include fixed-header;
    }

    &.reading {
        --backdrop-display: none;
        --content-color: #000;
        background: #fff;

        .block {
            background: #fff;
        }

        .bg {
            display: none;
        }

        header.top {
            height: 60px;
        }

        header.main {
            &.white {
                color: rgba(0, 0, 0, .8);
                background: #fff;
            }

            .nav-btn {
                color: #000;
            }
        }
    }

    &.transitions {
        transition: background-color .2s ease;

        header.left {
            transition: transform .2s ease;
        }

        header.top {
            transition: all .2s ease;
        }
    }

    pre {
        color: #000;
        background: #fcfcff;
        border-radius: 0;
        padding: 16px;
        font-size: .7em;
        overflow: auto;
        line-height: 22px;
        border: 1px solid rgba(0,0,0,.1);
    }

    .pd0 {
        padding: 0;
    }

    .sub-title {
        display: block;
        line-height: 28px;
        height: 28px;
        text-align: left;
        font-size: 16px;
        font-weight: 700;
        letter-spacing: 1px;
        margin-top: 32px;
        margin-bottom: 8px;
    }

    a.article-link {
        font-size: 16px;
        display: block;
        text-decoration: none;
        color: inherit;
        cursor: pointer;
        margin: 16px 0 32px;
        padding: 0;
        position: relative;
        color: black;

        &:before {
            content: attr(data-content);
        }

        &:after {
            position: absolute;
            left: 0;
            top: 0;
            content: attr(data-content);
            color: transparent;
            border-bottom: 2px solid black;
        }

        &:active {
            box-shadow: 0 0 1px 4px rgba(240,240,255,.8);
        }

        &:hover {
            .overlay {
                height: 100%;
            }
        }

        .overlay {
            height: 100%;
            position: absolute;
            left: 0;
            bottom: 0;
            width: 0;
            background: black;
        }


        .tagline {
            line-height: 28px;
            color: #666;
        }
    }
    
    .backdrop {
        display: var(--backdrop-display);
        pointer-events: var(--backdrop-pointer-events);
        background-color: var(--backdrop-background);
        border-left: 16px solid #fff;
        border-right: 16px solid #fff;
        box-sizing: border-box;
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        transition: background-color .2s ease;
    }

    .scroll-to-article {
        cursor: pointer;
        transition: opacity .2s ease;
        color: white;
        width: 320px;
        padding: 32px;
        max-width: 100%;
        box-sizing: border-box;

        &:hover {
            opacity: .8;
        }

        >i {
            display: block;
            font-size: 32px;
            flex: 0 0 48px;
        }

        >div {
            font-size: 18px;
            line-height: 24px;
        }
    }

    .bg {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background: transparent;
        position: absolute;
        z-index: -1;
        pointer-events: none;
    }

    .menu {
        pointer-events: var(--menu-pointer-events);
        opacity: var(--menu-opacity);
        z-index: 2;
        transition: all .2s ease;
        position: fixed;
        right: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        background: #f9f9f9;
        color: #000;
        text-align: center;
        padding: 0 32px;
        transform: var(--menu-transform);
        max-width: var(--menu-max-width);

        .logo {
            background: #000;

            img {
                filter: invert(1);
            }
        }

        header.top {
            color: #000;
            position: static;
            padding: 0;
        }

        nav {
            text-align: left;
        }
    }

    .title-bold {
        font-size: 140px;
        font-weight: 700;
        letter-spacing: 1px;
        line-height: 140px;
    }

    .logo {
        text-align: center;
        width: 48px;
        height: 48px;
        background: #fff;

        img {
            height: 30px;
            padding: 9px 0;
        }
    }

    .fx-row {
        display: flex;
        flex-direction: row;
    }

    .fx-end {
        justify-content: flex-end;
    }

    .fx-center {
        align-items: center;
    }

    .fx-col {
        display: flex;
        flex-direction: column;
    }

    .hero {
        margin-bottom: 16px;

        >img {
            width: 100%;
            height: auto;
        }
    }

    header.top {
        position: fixed;
        left: 0;
        top: 0;
        transform: var(--header-top-transform);
        height: 112px;
        width: 100%;
        padding: 0 32px;
        box-sizing: border-box;
        color: rgba(255, 255, 255, .8);
        z-index: 1;

        .nav-btn {
            line-height: 24px;
            cursor: pointer;
            display: inline-block;
            font-weight: 700;
            font-size: 12px;
            margin-left: 32px;
            letter-spacing: 1px;
            color: inherit;
            text-decoration: none;
            text-transform: uppercase;

            >.material-icons {
                vertical-align: middle;
            }
        }
    }

    header.left {
        display: var(--header-left-display);
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        box-sizing: border-box;
        padding: 32px;
        width: 280px;
        flex-direction: column;
    }

    .flex {
        flex: 1 1;
    }

    .btn {
        display: flex;
        vertical-align: middle;
        line-height: 32px;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
        padding: 4px;
        transition: background-color .2s ease;
        letter-spacing: .5px;
        display: inline-block;

        &:hover {
            color: #fff;
            background: #001088;
        }

        i {
            vertical-align: sub;
        }
    }

    .subtitle {
        font-size: 14px;
        padding: 4px 0;
        margin-bottom: 4px;
        display: inline-block;
        // border-bottom: 1px solid rgba(0, 0, 0, .8);
    }

    article {
        min-height: 100vh;
        width: 100%;
        padding: 128px 32px 32px;
        box-sizing: border-box;
        color: var(--content-color);

        &.cybergray {

        }

        &.no-stretch {
            min-height: unset;
        }

        h1 {
            font-size: 40px;
            line-height: 48px;
            letter-spacing: 1px;
            margin: 0;
            margin-bottom: 16px;
            font-weight: 400;
        }

        .meta {
            color: var(--content-color);
            margin-bottom: 16px;
            opacity: .8;
        }

        .block {
            max-width: 720px;
            margin: 0 auto;
        }

        .content {
            line-height: 32px;
            font-size: 20px;
        }

        .banner {
            background: linear-gradient(#e1e3f3, #a1d3e3);
            height: 320px;
            width: 100%;
        }
    }

    .wp-block-quote {
        margin: 0;
        padding: 8px 16px;
        background: #f2f2f2;
        font-style: italic;
    }

    .comments-area {
        label {
            display: block;
        }

        textarea, input {
            width: 100%;
            box-sizing: border-box;
            border: 1px solid rgba(0,0,0,.1);
            background: #fafafa;

            &:focus {
                background: #fff;
            }
        }

        input {
            line-height: 34px;
            height: 34px;
            outline: none;
        }

        .submit {
            display: inline-block;
            line-height: 34px;
            height: 34px;
            border: 1px solid rgba(0,0,0,.1);

            &:active {
                background: #fff;
            }
        }
    }
}